<h1>About me</h1>
<p>My name is Dragos-Ion Calin, I'm a Computer Science undergraduate from Romania.
I'm passionate about web development with Ruby on Rails, Node.js, Big Data, Machine Learning, algorithms and data structures.</p>
